// Variables
@import './../vars';

.loginPage{
    display:grid;
    grid-template-rows: 200px auto auto;
    justify-items: center;
    height:100%;
    width:100%;
}

.loginHeading{
    position:absolute;
    top:0;
    left:0;
    height:auto;
    width:100%;
    border-radius: 15px 15px 0 0;
}

.loginUser{
    display: none;
}



#form-login{
    margin-top:20%;
    z-index:200;

}

.row_three{
    margin-top:5%;
}


// Variables
@import './../vars';

.loginNav{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content: center;
    
    h6{
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 100;
        color: $brand-blue;
        margin:10px;
        filter: opacity(40%);

    }
}

.loginBar__link--active h6{
    color: $brand-blue;
    font-weight: $base-font-weight;
    filter: opacity(100%);
}

.googleSignUp{
    align-self: center;

    p{
        font-size: 12px;
        color: $dark-grey;
        margin-bottom: 20%;
        text-align: center;
    }
}

.facebook-share{
    display: flex;
    flex-direction: row;
    align-content: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 50%;
    height:50px;
    justify-self: center;
    align-self: center;
    justify-content: space-around;
    h4{
        font-size: 12px;
        color:$dark-grey;
        font-weight: 100;
        margin-right: 10px;
        align-self: center;
    }
    .fab{
        color:$brand-blue;
        height:min-content;
        font-size: 2em;
        align-self: center;
    }
}

@media screen and (max-height:640px){
    #form-login{
        margin-top:15%;
    }
    .loginNav{  
        h6{
            font-size: 10px;
        }
    }

    .facebook-share{
        width: 40%;
        height:35px;
        h4{
            font-size: 10px;
            color:$dark-grey;
            font-weight: 100;
            margin-right: 10px;
            align-self: center;
        }
        .fab{
            font-size: 1.5em;

        }
    }

}

@media screen and (max-height:650px){

    #navIcons{
      width:40px;
    }
  
    .svgicon{
      width:40px;
    }
  
}

@media screen and (max-width:600px){
    .loginHeading{
        border-radius:0;
    }
}